@inherits LayoutComponentBase

<PageTitle>ApostolSolution</PageTitle>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<!-- Footer Section -->
<footer style="background-color: #f1f1f1; padding: 10px; text-align: center;">
    <p>&copy; 2024 Southern Christian College Taekwondo Club. All rights reserved.</p>
    <p>You can also contact us on https://web.facebook.com/JeffSantiagoApostol.</p>
    <ul>
        <!--<li>
        <span>SCC Taeekwondo Organization</span>
        SCC Taekwondo Organization<br>
        Southern Christian College<br><br>

        Email: learntaekwondo.org<br>
        Mobile Number: +639876543210<br>

          </li>-->
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
            <!--Email : info@worldtaekwondo.org<br>-->
            Mobile Number: +639876543210<br>
            <a href="/about-wt/office.html">Contact information</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/privacy/privacy_policy.html" target="_blank">Privacy Policy</a>
        </li>
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
        </li>
    </ul>


</footer>
