@inherits LayoutComponentBase

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      
       <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-tablet" aria-hidden="true"></span> Contact
            </NavLink>
              <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<!-- Footer Section -->
<footer style="background-color: #f1f1f1; padding: 10px; text-align: center;">
    <p>&copy; 2024 Southern Christian College Taekwondo Club. All rights reserved.</p>
    <p>You can also contact us on https://web.facebook.com/JeffSantiagoApostol.</p>
    <ul>
        <!--<li>
        <span>SCC Taeekwondo Organization</span>
        SCC Taekwondo Organization<br>
        Southern Christian College<br><br>

        Email: learntaekwondo.org<br>
        Mobile Number: +639876543210<br>

          </li>-->
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
            <!--Email : info@worldtaekwondo.org<br>-->
            Mobile Number: +639876543210<br>
            <a href="/about-wt/office.html">Contact information</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/privacy/privacy_policy.html" target="_blank">Privacy Policy</a>
        </li>
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
        </li>
    </ul>
</footer>

