@inherits LayoutComponentBase

<div class="page">

    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="">Home</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="profile">Profile</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="contact">Contact</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="about">About</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="highlights">Highlights</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="basic kicks">Basic Kicks</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="music">Music</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="try">Try</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="calculator">Calculator</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="ass">Calculator</NavLink>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<!-- Footer Section -->
<footer style="background-color: #f1f1f1; padding: 10px; text-align: center;">
    <p>&copy; 2024 Southern Christian College Taekwondo Club. All rights reserved.</p>
    <p>You can also contact us on https://web.facebook.com/JeffSantiagoApostol.</p>
    <ul>
        <!--<li>
        <span>SCC Taeekwondo Organization</span>
        SCC Taekwondo Organization<br>
        Southern Christian College<br><br>

        Email: learntaekwondo.org<br>
        Mobile Number: +639876543210<br>

          </li>-->
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
            <!--Email : info@worldtaekwondo.org<br>-->
            Mobile Number: +639876543210<br>
            <a href="/about-wt/office.html">Contact information</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/privacy/privacy_policy.html" target="_blank">Privacy Policy</a>
        </li>
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
        </li>
    </ul>
</footer>

