@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Learn Taekwondo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
   
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="oi oi-person" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-tablet" aria-hidden="true"></span> Contact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="highlights">
                <span class="oi oi-bookmark " aria-hidden="true"></span> Highligths
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Basic Kicks">
                <span class="oi oi-lightbulb " aria-hidden="true"></span> Basic Kicks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="music">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Music
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="try">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Try
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="cal">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Calculator
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

 *@