@page "/about"

<h1>About Us</h1>


<div style=" display: flex; align-items: flex-start; justify-content: space-between">
    <p style=" text-align: left; margin-right: 20px;color: black    ;">
        Vision<br />
        Taekwondo For All.<br /><br />

        Mission<br />
        Develop and grow Taekwondo throughout the world, from a grass roots level all the way through to an elite level, to provide all with the opportunity to play, watch and enjoy the sport regardless of age, gender, religion, ethnicity or ability.<br /><br />

        Values<br />
        Inclusiveness, Leadership, Respect, Tolerance, Excellence, and Integrity.<br /><br />

        Objectives<br />
        WT is responsible for the development, growth, and administration of Taekwondo around the world. WT's strategic priorities are listed in its Sustainability Strategy (link) and implementation list, which help guide our headquarters and stakeholders in their annual planning of activities.<br /><br />

        1. To be recognised as one of the most sustainable and respected International Federations of the Olympic and Paralympic movements
        <br />2. To deliver fair and exciting Taekwondo competitions at the Olympic and Paralympic Games
        <br /><br />
        3. To organise events and activities to commemorate 30 years of the 103rd IOC Session's decision to accept Taekwondo as an Olympic sport
        <br /><br />
        <br /><br />
        4. To enhance engagement with the Member National Associations and Continental Unions in their governance and in the development of Taekwondo worldwide
        <br /><br />
        5. To expand on the global membership of World Taekwondo MNAs
        <br /><br />
        6. To expand on innovative projects and events, including but not limited to Virtual Taekwondo and the Octagon Diamond Game
        <br /><br />
        7. To efficiently monitor and manage the budget and projects of World Taekwondo and ensure proper risk management procedures are implemented
        - Established : May 28, 1973
        - No. of Member National Associations : 213
        - President : Dr. Chungwon Choue
        - Affiliation to SportAccord (GAISF) : October 8, 1975
        - IOC Recognition : July 17, 1980 (83rd IOC Session in Moscow)
        - Affiliation to ASOIF : February 15, 1995
        - Olympic Games Demonstration Sport : 1988 Seoul Olympic Games & 1992 Barcelona Olympic Games
        - Official Olympic Sport : Sydney 2000 Olympic Games, September 4, 1994 (103rd IOC Session in Paris)
        - Confirmation of Taekwondo as an Official Sport : for Athens 2004 Olympic Games, December 11-13, 2000 (IOC EB Meeting in Lausanne)
        - Expansion of Taekwondo quota at Athens 2004 Olympic Games to 124 in eight weight categories, respective four weight classes for men and women, Sep.18-20, 2001 (IOC EB Meeting in Lausanne)
        - Feb. 5-7, 2006: IOC Executive Board decided at its meeting in Turin, Italy to expand the number of taekwondo entry in Beijing 2008 Olympic Games from 124 to 128 (two males and two females were added in consideration of the new establishment of Oceania Taekwondo Union).
        - IOC Executive Board decided the number of sports programs of the 2008 Beijing Olympic Games to be 27, including Taekwondo. The 114th IOC Session held in Mexico City, Mexico on November 29, 2002 also confirmed inclusion of Taekwondo in the Beijing 2008 Olympic Games.
        - IOC reviewed the Olympic program for 2012 London, Taekwondo was voted to retain in the Olympic Program of the London 2012 Olympic Games at its 117th Session in Singapore on July 8, 2005.
        - IOC selected 26 core sports for 2016 Rio Olympic Games, including taekwondo at its 121st Session in Copenhagen on Oct. 2-9, 2009.
        - IOC confirmed taekwondo as one of the 25 core sports for 2020 Tokyo Olympic Games at its 125th Session in Buenos Aires on Sept. 7-10, 2013
        - International Paralympic Committee (IPC) Governing Board granted 'IPC-recognized IF' status to the WT on Oct. 16, 2013.
        - I PC final decision on the sports programs of the 2020 Tokyo Paralympics, including taekwondo, was made at the 69th IPC Governing Board meeting held in Abu Dhabi, UAE on January 30-Feburary 1, 2015.
        - Nov. 14-15, 2015: IPC General Assembly in Mexico City, Mexico granted a full membership to the WT (Nov. 15: ratification of new members) on Nov. 15, 2015.
        - IOC Session confirmed Taekwondo as one of the core sports programme of the 2024 Olympic Games in Paris(Sep 18, 2017)
        - IPC Governing Board confirmed Para Taekwondo as part of the Paris 2024 Paralympic Games sports programme.(Jan 28, 2019)
        - IOC Session confirmed Taekwondo’s place on the Olympic Games Los Angeles 2028 initial sports programme, marking the eighth consecutive time the sport has been part of Olympic Games.(Feb. 3, 2022)
        - WT launched its inaugural Hall of Fame class at the General Assembly in Sofia, Bulgaria. (August 1, 2022)
        - IPC Governing Board confirmed the inclusion of Para Taekwondo for Sport Programme for Los Angeles 2028 Paralympic Games (Jan 30, 2023)
        - WT and the Taekwondo Humanitarian Foundation (THF) launched the inaugural Hope and Dreams Sports Festival in the Azraq Refugee Camp and Amman, Jordan, for Olympic sports that they have partnerships with. (Feb. 25-27, 2023)
        - IOC announced that Virtual Taekwondo will be one of nine featured games at the Olympic Esports Series 2023(Mar. 1, 2023)
        - WT celebrated its 50th Founding Anniversary with a Golden Jubilee Gala Awards at the World Taekwondo Championships in Baku, Azerbaijan. The Best Male and Best Female athletes of each Olympic and Paralympic Games were honoured at the Gala Awards. (May 28, 2023)
        - Virtual Taekwondo debuted at the inaugural Olympic Esports Week in Singapore. (June 25-27, 2023)
        - WT and the THF were awarded the Combat Sport Initiative of the Year at the Peace and Sports Award for launching the Hope and Dreams Sports Festival. (October 18, 2023)
        - WT unveiled its Taekwondo statue at the Olympic Museum in Lausanne, Switzerland. (November 15, 2023)
        - The IOC awarded the prestigious Olympic Cup to the THF for its immense contributions to Olympism through the humanitarian programmes for refugees and displaced persons around the world. (November 15, 2023)
        - WT launched its inaugural Sustainability Awards at the annual year-end Gala in Manchester, UK. (December 3, 2023)

    </p>
</div>



