/* _content/ApostolSolution/Pages/Calculator.razor.rz.scp.css */
/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 24px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #eee;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 100%;
    height: 60px;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #f0f0f0;
    }

    button:active {
        background-color: #ddd;
    }

#zero {
    grid-column: span 2;
}*/



body[b-9vyjrc6vg7] {
    font-family: Arial, sans-serif;
}

.form-group[b-9vyjrc6vg7] {
    margin-bottom: 10px;
}

.form-control[b-9vyjrc6vg7] {
    padding: 8px;
    width: 200px;
}

.button[b-9vyjrc6vg7] {
    padding: 8px 15px;
    cursor: pointer;
}
/* _content/ApostolSolution/Pages/Profile.razor.rz.scp.css */
.rounded-image[b-zr7tmyifjq] {
    border-radius: 50%; /* Makes the image circular */
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the element's box */
   /* display: block;
    margin-left: auto;
    margin-right: auto;*/
}
.login-container[b-zr7tmyifjq] {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .login-container h2[b-zr7tmyifjq] {
        margin: 0 0 10px;
        text-align: center;
    }

    .login-container input[b-zr7tmyifjq] {
        margin: 5px 0;
        padding: 10px;
        width: 100%;
    }

    .login-container button[b-zr7tmyifjq] {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }
/* _content/ApostolSolution/Shared/MainLayout.razor.rz.scp.css */
.page[b-bhpwwwfxiq] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-bhpwwwfxiq] {
    flex: 1;
}

.sidebar[b-bhpwwwfxiq] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3b70be 70%);
}

.top-row[b-bhpwwwfxiq] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-bhpwwwfxiq]  a, .top-row .btn-link[b-bhpwwwfxiq] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-bhpwwwfxiq] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-bhpwwwfxiq] {
        display: none;
    }

    .top-row.auth[b-bhpwwwfxiq] {
        justify-content: space-between;
    }

    .top-row a[b-bhpwwwfxiq], .top-row .btn-link[b-bhpwwwfxiq] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-bhpwwwfxiq] {
        flex-direction: row;
    }

    .sidebar[b-bhpwwwfxiq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bhpwwwfxiq] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-bhpwwwfxiq], article[b-bhpwwwfxiq] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


/* _content/ApostolSolution/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-s23xyv7h9x] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-s23xyv7h9x] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-s23xyv7h9x] {
    font-size: 1.1rem;
}

.oi[b-s23xyv7h9x] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-s23xyv7h9x] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-s23xyv7h9x] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-s23xyv7h9x] {
        padding-bottom: 1rem;
    }

    .nav-item[b-s23xyv7h9x]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-s23xyv7h9x]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-s23xyv7h9x]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-s23xyv7h9x] {
        display: none;
    }

    .collapse[b-s23xyv7h9x] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
