@page "/Basic Kicks"

<h1>Basic Kicks </h1>

<h4>Axe Kick</h4>
<iframe width="100%" height="315" src="https://www.youtube.com/embed/4IvPiUtUsSE?si=02nHCJ_ibT6H5AEk"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h4>Front Kick</h4>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/rDAIlfTFDqU?si=ce11XtCUI5BGC5XZ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3>Side Kick</h3>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/98boTtEjgfw?si=oVacuyaib1MzycGp"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h4>Round House Kick</h4>


<iframe width="100%" height="315" src="https://www.youtube.com/embed/BZmIA4Sseco?si=GBc2xpoAssJGiTFO"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>



<h4>Spinning Hook Kick</h4>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/Avr54VCNMXY?si=iImdNG1LAXJDMren"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>

