@page "/contact"

<PageTitle>Contact</PageTitle>

<h1>Contact Us</h1>

<dd>
    <ul>
        <!--<li>
        <span>SCC Taeekwondo Organization</span>
        SCC Taekwondo Organization<br>
        Southern Christian College<br><br>

        Email: learntaekwondo.org<br>
        Mobile Number: +639876543210<br>
         
          </li>-->
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
            <!--Email : info@worldtaekwondo.org<br>-->
            Mobile Number: +639876543210<br>
            <a href="/about-wt/office.html">Contact information</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/privacy/privacy_policy.html" target="_blank">Privacy Policy</a>
        </li>
        <li>
            <span>SCC Taeekwondo Organization</span>
            SCC Taekwondo Organization<br>
            Southern Christian College<br><br>

            Email: learntaekwondo.org<br>
            Mobile Number: +639876543210<br>
        </li>
    </ul>
</dd>