@page "/"

<PageTitle>Index</PageTitle>

<h1>LEARN TAEKWONDO<br /><br></h1>

<h2 style="justify-content: start;">
    Introduction to Taekwondo

</h2>

<div style=" display: flex; align-items: flex-start; justify-content: space-between" >
    <p style=" width: 50%;text-align: left; margin-right: 20px;color: black    ;">
        Taekwondo is a Korean martial art characterized by its emphasis on high,
        fast kicks and powerful hand techniques.<br><br>

        It combines elements of self-defense, sport, exercise, and philosophy,
        making it a comprehensive martial art suitable for a wide range of practitioners.<br><br>
        
    </p>
    <img src=" /images/tkd3.jpg" alt="Right Aligned Image" style="max-width: 50%; height: auto;" />
</div>

<h2 style=" justify-content: start;">
    Kicks in Taekwondo<br><br>

</h2>
<h3 style=" justify-content: start;">
    Axe Kick <br><br>

</h3>
<div style=" display: flex; align-items: flex-start; justify-content: space-between" >
    <p style=" width: 50%;text-align: left; margin-right: 20px;color: black    ;">
        An Axe Kick (also called a Hammer Kick, 내려차기, Downward Kick, or naeryeo chagi) is a kick
        in which one kicks downward with a straight leg. Most taekwondo kicks involve bending the knee as part
        of the chambering for the kick, but the Axe Kick is an exception.<br><br>
    </p>
    <img src="/images/axekick.jpg" alt="Right Aligned Image" style="max-width: 50%; height: auto;" />
</div>

<h3 style=" justify-content: start;">
    45 Kick <br><br>

</h3>
<div style=" display: flex; align-items: flex-start; justify-content: space-between">
    <p style=" width: 50%;text-align: left; margin-right: 20px;color: black    ;">
        An Axe Kick (also called a Hammer Kick, 내려차기, Downward Kick, or naeryeo chagi) is a kick
        in which one kicks downward with a straight leg. Most taekwondo kicks involve bending the knee as part
        of the chambering for the kick, but the Axe Kick is an exception.<br><br>
    </p>
    <img src="/images/45.jpg" alt="Right Aligned Image" style="max-width: 50%; height: auto;" />
</div>


