@page "/profile"


<h1>My Profile <br><br></h1>

<head>
    <title>Centered Image</title>
    <style>
        .rounded-image {
            border-radius: 50%; /* Makes the image circular */
            width: 150px; /* Set a fixed width */
            height: 150px; /* Set a fixed height */
            object-fit: cover; /* Ensure the image covers the element's box */
        }
    </style>
</head>

<div style="text-align: left;">
    <img src="/images/tkd2.png"  alt="Description of image" class="rounded-image" /><br><br>
</div>

<div style=" display: flex; align-items: flex-start; justify-content: space-between">
    <p style=" width: 50%;text-align: left; margin-right: 20px;color: black    ;">
        Name:              Jefferd. S. Apostol<br><br>
        Sex:               Male<br><br>
        Age:               21 Years old<br><br>
        Weight:            66 kgs.<br><br>
        Weight Category:   Feather Weight<br><br>
        Event:             Kyorugi<br><br>
        Belt:              Color: Yellow Belt<br><br>

       
    </p>
</div>

